@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,800,400italic,400);

html, body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #00425C;
}

.main {
  width: 100%;
  height: 100%;
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
  background: #999;
}

.content {
  width: 100%;
  height: calc(100% - 35px);
  overflow-y: auto;
}

/* page_username */
.username-control {
  width: 100%;
}
.username-field {
  margin-top: 150px;
}

@media(max-width: 767px) {
  .username-field {
    margin-top: 20px;
  }
}

@media(min-width: 768px) {
  .remove-padding-login-button {
    padding-left: 0;
  }
}

.game_selection_header {
  background-color: #fff;
  border-bottom: 2px rgba(0,0,0,0.6) solid;
  padding: 10px;
}

/* footer */
footer {
  background-color: #fff;
  border-top: 2px rgba(0,0,0,0.6) solid;
  padding-top: 5px;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: rgba(0,0,0,0.6);
}

footer a {
  color: rgba(0,0,0,0.6);
}

footer a:hover, footer a:focus {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

footer .octicon:hover {
  color: #CE5101;
}

@media(max-width: 500px) {
  .hidden-xxs {
    display: none;
    visibility: hidden;
  }
}

/* orange button */
.btn-orange {
  color: #fff;
  background-color: #EA5B00;
  border-color: #C64F04;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #CE5101;
  border-color: #C64F04;
}

/* purple button */
.btn-purple {
  color: #fff;
  background-color: #43239B;
  border-color: ##4A11E6;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple.focus,
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  color: #fff;
  background-color: #270F6B;
  border-color: ##4A11E6;
}

/*purple label */
.label-purple {
  background-color:#43239B;
}

/*Game selection hover feature*/
.panel-default:hover {
  background-color: #DDDDDD !important;
}
a {
  text-decoration: none !important;
  outline: none !important;
}
a:focus {
  outline: none !important;
}

/* register page */
@media(min-width: 560px) {
  .register-page-buttons {
    float: right;
    margin-top: 40px;
  }
}
@media(max-width: 559px) {
  .register-page-buttons {
    float: left;
    margin-top: 7px;
  }
}
