@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,800,400italic,400);

html, body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #00425C;
}

.main {
  width: 100%;
  height: 100%;
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
  background: #999;
}

.content {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
}

/* page_username */
.username-control {
  width: 100%;
}
.username-field {
  margin-top: 150px;
}

@media(max-width: 767px) {
  .username-field {
    margin-top: 20px;
  }
}

@media(min-width: 768px) {
  .remove-padding-login-button {
    padding-left: 0;
  }
}

.game_selection_header {
  background-color: #fff;
  border-bottom: 2px rgba(0,0,0,0.6) solid;
  padding: 10px;
}

footer {
  background-color: #fff;
  border-top: 2px rgba(0,0,0,0.6) solid;
  padding-top: 5px;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: rgba(0,0,0,0.6);
}
footer > a {
  color: rgba(0,0,0,0.6);
}
footer > a:hover, footer > a:focus {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.btn-orange {
  color: #fff;
  background-color: #EA5B00;
  border-color: #C64F04;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #CE5101;
  border-color: #C64F04;
}
.octicon-heart:hover { color: #CE5101; content: '\2665'} /* â™¥ */
.octicon-code:hover {color: #CE5101; content: '\f05f'} /* ïŸ */
.octicon-logo-github:hover {color: #CE5101; content: '\f092'} /* ï‚’ */
