<div class="container">
  <div class="row username-field">
    <div class="col-md-8 col-md-offset-2">
      <div style="margin: 30px;">
        <center><h1><b>Cards Against <a href="http://djoamersfoort.nl" target="_blank">DJO</a></b></h1></center>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" autofocus placeholder="Username">
          </div>
          <div class="visible-xs"><br /></div>
          <div class="col-sm-2 remove-padding-login-button">
            <button class="btn btn-default" id="username_submit_button" style="width: 100%;">register</button>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="visible-xs"><br /></div>
          <div class="col-sm-2 remove-padding-login-button">
            <button class="btn btn-primary" id="username_submit_button" style="width: 100%;">log in</button>
          </div>
        </div>
      </div>
      <div style="margin: 20px;">
        <p>A web version of <a href="http://cardsagainsthumanity.com/" target="_blank">Cards Against Humanity</a> made by Jelmerro &amp; Yoeori.</p>
        <p>We included a bunch of packs ourselves, but custom packs can be added using the 5-digit code from <a href="http://cardcastgame.com" target="_blank">Cardcast</a>.</p>
        <p>Still in early development.</p>
      </div>
    </div>
  </div>
</div>
