<div class="container">
  <div class="row username-field">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <center><h1><b>Cards Against DJO</b></h1></center>
        <hr>
        <form id="login_form" action="javascript:void(0)" method="post">
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" tabindex="1" autofocus placeholder="Username">
            </div>
            <div class="col-sm-2 remove-padding-login-button hidden-xs">
              <button class="btn btn-default" data-onclick="register" style="width: 100%;">Register</button>
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" tabindex="2" placeholder="Password">
            </div>
            <div class="visible-xs"><br /></div>
            <div class="col-sm-2 remove-padding-login-button">
              <button class="btn btn-orange" tabindex="3" id="login_submit_button" style="width: 100%;"><span class="glyphicon glyphicon-log-in"/> Login</button>
              <div class="visible-xs" style="margin-top: 5px;">
                <button type="submit" class="btn btn-default" data-onclick="register" style="width: 100%;">Register</button>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <p>A web version of <a href="http://cardsagainsthumanity.com/" target="_blank">Cards Against Humanity</a> made by Jelmerro, Max and Yoeori.</p>
        <p>We included a bunch of packs ourselves, but custom packs can be added using the 5-digit code from <a href="http://cardcastgame.com" target="_blank">Cardcast</a>.</p>
        <p>Still in early development.</p>
      </div>
    </div>
  </div>
</div>
