<div class="container">
  <div class="row username-field">
    <div class="col-md-6 col-md-offset-3">
      <div style="margin: 30px;">
        <center><h1><b>Register</b></h1></center>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
              <input type="text" class="form-control" placeholder="Username" id="register_username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
              <input type="text" class="form-control" placeholder="Email" id="register_email" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <input type="text" class="form-control" placeholder="Password" id="register_password" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <input type="text" class="form-control" placeholder="Confirm password" id="register_password_confirm" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="margin-left: 39px; margin-top: 10px;">
            <button class="btn btn-primary" id="register_submit_button">register</button>
            <button class="btn btn-default" id="cancel_submit_button">cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
